/* new-post.component.css */
.new-post-container {
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 15%;
    border: 3px solid black;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #757575;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #000000;
    color: rgb(25, 87, 45);
  }
  